/* Included CSS
  * Including TreeHouse Grid System 
  * URL: 
Inheriting Ben Schwarz's CSS Gallery */

/* Customize the dimensions of your gallery & thumbnails */
/* Override Inherited Size from Grid System  */

.gallery {
  height: 500px;
}
.item {
  text-align: center;
}

.item img {
  width: 400px;  
}

.controls img {
  width: 50px;
}