a {
    text-decoration: none;
}

#wrap {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}




svg {
    width: 15px;
    height: 15px;
    
}

/* Selfie on About Page */
img {
    max-width: 40%;
    min-width: 20%;    
}
