body {
    
}

a {
    text-decoration: none;
    color: lightgray;
}

#wrap {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#logo {
    text-align: center;
    margin: 0;
    font-family: 'PT Mono', ;
}

header {
    color: dimgray;
    border-color: black;
    
}

h1, h2 {
    color: slategray;
    font-family: 'PT Mono', ;
}

svg {
    width: 15px;
    height: 15px;
    
}



/* Selfie on About Page */
img {
    max-width: 40%;
    min-width: 20%;    
}
