/*************************
GENERAL
*************************/

body {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #3D444F;
    list-style: none;
}

#wrap {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}


img {
    max-width: 100%;
    
}


/*************************
Heading
*************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
}



/*************************
Navigation
*************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
     display: inline-block;
}

nav a {
    font-weight: 700;
    padding: 15px 10px;
}



/*************************
Page Portfolio
*************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #D9DFD6;
    color: #3D444F;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #3D444F;
}

/*************************
Colors
*************************/

/* Site Body */
body {
    background-color: #D9DFD6;
    color: #3D444F;
}

/* Grey Header */
header {
    background: #3D444F;
    padding: .2em;
}

/* Nav  Background on Mobile */
nav {
    background: #AC5333;
}

/* Logo Text */
h1, h2 {
    color: #AC5333;
}

/* Nav  Link */
nav a, nav a:visited {
    color: #D9DFD6;
}

/* Selected Nav  Link */
nav a.selected, nav a:hover {
    color: #A2B6A6;   
}

/* Hover Link Color */
a:hover {
    color: #A2B6A6
}


svg {
    width: 15px;
    height: 15px;
    
}



/*************************
Media Queries
*************************/

@media screen and (min-width: 480px) {
    
    /**** Two Column Layout ****/
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }

     /**** Page: Portfolio ****/
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child (4n) {
        clear: left;
    }

    /**** Page: Portfolio ****/
    img.selfie {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    
    /**** Header ****/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;   
    }
    
    
    h1 {
        font-size: 2.5em;
    }
    
    h2{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    
    header {
        border-bottom: 5px solid #AC5333;
        margin-bottom: 60px;
    }
    
}



